#b1 {
	max-width: 1556px;
	width: 100%;
	padding: 0 80px;
	margin: 60px auto 0;
}
.wrap-slaider {
	background-color: #0f161c;
	margin-top: 60px;
}
.wrap-slaider .slaider {    
	max-width: 1513px;
    margin: auto;
    padding: 28px 40px;
}

.square-img-txt img {
	max-width: 70px;
	height: 70px;
}
.square {
	padding: 15px 5px;
}
.reserve {
	width: 100%;
	margin: auto;
	height: 45px;
	margin-top: 30px;
}
.reserve p{
	font-size: 14px;
	padding: 10px 0;
}
.square-txt-3 p:last-child {
	font-size: 16px;
}
.square-txt p {
	margin-left: 5px;
}
.square-txt p:nth-child(1)::before {
	width: 100%;
}
.square-txt p:nth-child(2) {
	margin-left: 20px;
	font-size: 20px;
}
.square-txt-2 {
	margin-right: 0;
	font-size: 22px;
}
.square-txt-2 span {
	margin-left: 5px;
	padding: 0 6px;
}
.square.height-210, .square.height-290, .square.height-340,.square.height-630 {max-width: 360px; margin: 10px;}
.square-txt-3 p:first-child {font-size: 46px;}
header {padding: 0 15px;}
.power-station img {
	max-width: 100%;
}
.box-b1 p:nth-child(2)::before {
	top: -51px;
}
.main-b1-ul ul li {font-size: 20px;}
.b1-ul li::before {right: -15px; bottom: 12px;}
.wrap-slaider .slaider {padding: }
.slaider {height: 120px;}
.slaider.owl-carousel .owl-nav button.owl-prev::before, .slaider.owl-carousel .owl-nav button.owl-next::before {top: -39px;}



.wrap-txt-f1 p:nth-child(1), .wrap-txt-f1 p:nth-child(2), .wrap-txt-f1 p:nth-child(3){font-size: 19px; width: 80px; line-height: 1.2;}
.wrap-txt-f1 p {margin-top: 5px;}
.b3-1-txt3 p {font-size: 20px; width: 33%; margin: 10px 0;}
.b3-1-txt3 p::after {height: 100%; right: 15px;}
.wrap-progress {padding: 15px;}
.b4-f1 {width: 25%; font-size: 30px;}
.gr-txt-2 {padding-right: 0;}
.gr-txt-2 p{ font-size: 32px; }
.gr-txt p {font-size: 80px;}
.wrap-b6-1 h1 {font-size: 36px;}
.gr-txt span {font-size: 32px;}
.wrap-b6::after {right: 14px; top: 88px;}
.wrap-b6 {width: 754px; height: auto; padding-right: 20px; padding-left: 18px; margin-right: 20px;}
.b6-down-line {width: calc(100% - 60px); left: 20px;}
.energy-txt {max-width: 342px;}
.energy-txt h2::before {width: 300px; right: 0;}
.team_txt {max-width: 420px; margin-right: 20px;}
.gr-txt-2 p:nth-child(2) {font-size: 80px;}
.b12-team-txt h4 {font-size: 18px;}
.team_txt .square p {font-size: 20px;}
.road .square {max-width: 410px;}
.rmap-left-cr::before {width: 84px; left: -71px;}
.road {max-width: 971px;}
#b3, #b4, #b5, #b6, #b7, #b8, #b9, #b10, #b11, #b12, #b13 {padding: 0 100px;}
.wb3-txt p:nth-child(1) {font-size: 24px;}
.wb3-txt p:nth-child(2) {font-size: 24px;}
.b3-1-txt p {margin-right: 15px;}
.b3-1-txt p::before {right: 0; height: 63px;}
.b3-1-txt3 {justify-content: center;}
.b3-1-txt3 p::before {left: -5px; top: 15px;}
.b3-table {padding-bottom: 0;}
.pro-img {margin-left: 20px; margin-right: 20px;}
.wrap-graphic {justify-content: space-between;}
.wrap-b6-1 img {width: 52px; height: 256px;}
.wrap-n-img {width: 573px;}
.capsule-img img {max-width: 300px;}
.capsule-img {width: 58%; display: flex; justify-content: center; align-items: center;}
.w-ex{ width: 35%; justify-content: space-around;}
.capsule-txt {width: auto;}
.capsule-txt p:first-child {margin-top: 80px;}
.capsule-txt p:first-child::after, .capsule-txt p:nth-child(3)::after {
	width: 340px;
}
.capsule-txt i:nth-child(7)::before {
	width: 77px; right: 341px; top: 139px;
}
.capsule-txt i:nth-child(7)::after {
    width: 56px;
    height: 56px;
    right: 382px;
    top: 142px;
}
.capsule-txt p {
	font-size: 20px;
}
.capsule-txt p:nth-child(2) {margin-top: 50px;}
.capsule-txt p:nth-child(2)::after, .capsule-txt p:nth-child(4)::after {width: 270px;}
.capsule-txt i:nth-child(8)::before {right: 277px; width: 37px; top: 215px;}
.capsule-txt i:nth-child(8)::after {right: 285px; top: 205px; width: 56px; height: 56px;}
.capsule-txt p:nth-child(3) {
	margin-top: 20px;
}
.capsule-txt i:nth-child(9)::before {width: 67px; right: 347px; top: 281px; transform: rotate(-35deg);}
.capsule-txt i:nth-child(9)::after {width: 56px; height: 56px; right: 382px; top: 275px;}
.capsule-txt p:nth-child(4) {margin-top: 5px;}
.capsule-txt i:nth-child(10)::before {width: 27px; right: 280px; top: 316px; transform: rotate(-40deg);}
.capsule-txt i:nth-child(10)::after {width: 56px; height: 56px; right: 278px; top: 301px;}
.capsule-txt p:nth-child(5) {margin-top: 55px;}
.capsule-txt p:nth-child(5)::after {width: 285px;}
.capsule-txt i:nth-child(11)::before {width: 36px; right: 293px; top: 415px;}
.capsule-txt i:nth-child(11)::after {width: 56px; height: 56px; top: 404px; right: 298px;}
.capsule-txt p:nth-child(6) {margin-top: 35px;}
.capsule-txt p:nth-child(6)::after {width: 305px;}
.capsule-txt i:nth-child(12)::before {right: 314px;top: 518px; width: 30px;}
.capsule-txt i:nth-child(12)::after {top: 506px; right: 315px; width: 56px; height: 56px;}
.exchanger p {font-size: 20px;}
.exchanger {margin-top: 0;}
.b3-1-txt {align-items: center;}

.standart-h1 {font-size: 40px;}
.standart-h1::before {top: 5px;}

.wrap-b1-1 h1 {font-size: 31px;}
.box-b1 p {font-size: 17px;}
.lab_sign {font-size: 17px;}
.main-b1-ul ul li {margin: 55px 50px 80px 0;}
.btn-popup a {font-size: 16px; padding: 7px 90px;}
.graphic {width: 400px; height: 400px;}
.gr-txt {padding: 20px 0;}
.gr-txt {width: 392px;}
.gr-txt::before,.gr-txt-2::before {top: 99px;}
#t-1, #t-2, #t-3, #t-4, #t-5, #t-6, #t-7 {font-size: 24px;}
#t-1 {top: 10px; left: 186px;} #t-1::before {bottom: 44px;}
#t-2 {top: 17px; left: 152px;} #t-2::before {bottom: 47px;}
#t-3 {top: 43px; left: 80px;} #t-3::before {bottom: 44px;}
#t-4 {top: 134px;} #t-4::before {bottom: 38px;}
#t-5 {top: 256px;} #t-5::before {top: 24px; left: -12px;}
#t-6 {top: 345px; left: 180px;} #t-6::before {bottom: -20px;}
#t-7 {top: 107px; right: 18px;} #t-7::before {right: 0;}
.wrap-b6 img {margin-top: 46px; margin-bottom: 8px;}
.wrap-b6-1 span {font-size: 31px;}
.wrap-b6-1 {width: 20%; margin-top: 48px;}
.b7-txt p,.box-b2 p {font-size: 22px;}
.energy-txt h2 {font-size: 30px; padding-right: 105px; margin-top: 25px; max-width: none;}
.energy-txt h2::before {width: 100%;}
.b10-icon h6 {font-size: 30px;}
.b10-icon h1 {font-size: 100px;}
.b10-icon {background: url(/img/icons/b10-1.svg) no-repeat right 72px top 10px; max-width: 260px; background-size: 60px 65px;}
.b10-icon.bg-2 {background: url(/img/icons/b10-2.svg) no-repeat right 11px top 10px; max-width: 260px; background-size: 60px 67px;}
.b10-icon.bg-3 {background: url(/img/icons/b10-3.svg) no-repeat right 75px top 10px; max-width: 260px; background-size: 60px 68px;}
.team_item {width: 50%;}
.team_txt h2 {font-size: 18px;}
.road .square h2 {font-size: 30px;}
.road .square p {font-size: 20px;}
.road::before {height: 1819px;}
.wrap-footer {padding: 0 80px;}
.w-ex .square p {font-size: 20px;}
.b3-1-txt p:nth-child(2)::before { height: 50px; top: 0;}
.b3-1-txt p::before {height: 50px; top: -10px;}
.b3-1-txt3 p::after {height: 40px;}
.b3-1-f2, .b3-1-f3 {font-size: 20px;}
.b7-txt p:nth-child(1)::after {bottom: -98px;}
.wrap-b6 h3 {font-size: 30px;}
.wrap-b6::before {height: calc(100% - 68px); left: 18px;}
.wrap-b6 i:first-child::before {left: 18px; top: 24vh;}
.wrap-b6 i:first-child::after {left: 18px; top: 40vh;}
#b6-p-1 {left: 23px;}
.wrapper-b6 {justify-content: center;}
.road #r-map-line::before {right: -79px;}
.square-img-txt .mwh {
	width: 70px; height: 70px; padding: 18px 10px; 
}
.mwh p::before {
	top: 21px;
	height: 1px;
}
.mwh p {font-size: 18px;}
@media not all and (min-resolution:.001dpcm) { @media {

    .gr-txt p { 
		line-height: 1.1;
    }
    .gr-txt-2 p {
    	line-height: 1.2;
    }
    .cheaper {
    	line-height: 1.7;
    }
    .team_txt h2 {
    	line-height: 1.5;
    	padding: 5px 0 0 0;
    }
   	
	.wrap-txt-f1 p:nth-child(1), .wrap-txt-f1 p:nth-child(2), .wrap-txt-f1 p:nth-child(3){font-size: 19px; width: 80px; line-height: 1.7;}
	.line p {font-size: 16px;}
	.cheaper span{position: relative; bottom: 10px;}
	.b3-1-txt3 p::after {right: 0;}
	/*.square-txt p:nth-child(2) {
		font-size: 18px;
		line-height: 1.3;
	}*/

	.mwh p {
		display: flex;
		flex-direction: column;
		line-height: 1.5;
		margin-top: -3px;
	}
	.mac.safari .mwh p::before {top: 20px;}
	
	.mac.safari .mwh {padding-top: 23px;}
}}
.mail {width: 40%;}
.sign_up {width: 45%; font-size: 14px;}
.b7-txt span {font-size: 22px;}

.mac.safari .tab-box a {line-height: 2; text-align: center;}
.mac.safari .standart-h1::before {top: -4px; height: 29px;}
.mac.safari .wrap-txt-f1 p{ line-height: 1.7; }
.mac.safari .mwh p{line-height: 1.5; margin-top: 3px;}
.mac.safari .line p {font-size: 18px; margin-bottom: -24px;}
.mac.safari .cheaper span {margin-bottom: 0px;}
.mac.safari .cheaper {line-height: 1.5; display: flex; margin-top: 8px;}
.mac.safari .gr-txt-2::before {top: 80px;}
.mac.safari .gr-txt-2 p {line-height: 1.5;}
.mac.safari .gr-txt-2 {padding: 0;}
.mac.safari #txt-red {position: relative; bottom: 8px;}
.mac.safari .square-txt-2 span {line-height: 1.8; height: 24px;}
.mac.safari .mwh p::before {top: 19px;}

.mac.safari .wrap-b1-1 h1 {font-size: 32px;}
.mac.safari .box-b1 p {font-size: 18px;}
.mac.safari .box-b1 p:nth-child(2)::before {top: -51px;}
.win.safari .box-b1 p:nth-child(2)::before {top: -51px;}


.mac.safari .square-img-txt .mwh{padding-top: 16px;}
.mac.safari .wrap-b6-1 h1 {font-size: 34px;}
