.b6-down-line {max-width: 655px;} .wrapper-b6 {max-width: 741px; flex-wrap: wrap;} .wrap-b6 h3 {font-size: 20px;} #b6-p-2 {font-size: 18px;} .wrap-b6 img {margin-top: 25px; margin-bottom: 10px;}
.wrap-b6::after {top: 63px;} .wrap-b6 {width: 519px;} .wrap-b6::before {} .wrap-b6 i:first-child::before {top: 104px;} .wrap-b6 i:first-child::after {top: 224px;}
.energy-txt h2 {font-size: 36px; margin-top: 45px;} .energy-txt h2::after {left: -34px; top: 50px; width: 41px;}
.energy-txt p::before {right: 0px; top: 102px;} .b10-icon h1 {font-size: 74px;} .b10-icon h6 {font-size: 28px;} .b10-icon {background: url(/img/icons/b10-1.svg) no-repeat left 120px top 7px; background-size: 60px 54px; width: 250px; padding-left: 30px;}
.b10-icon.bg-2 {background: url(/img/icons/b10-2.svg) no-repeat left 73px top 5px; background-size: 60px 55px; width: 250px;} .b10-icon.bg-3 .b10-icon h6 {} 
.b10-icon.bg-3{background: url(/img/icons/b10-3.svg) no-repeat left 120px top 11px; background-size: 60px 50px; width: 251px;}
.wb3-txt p:nth-child(1) {font-size: 22px;} .wb3-txt p:nth-child(2) {font-size: 24px;} .wrap-slaider .slaider {padding: 25px 50px;}
.slaider.owl-carousel .owl-nav button.owl-prev::before, .slaider.owl-carousel .owl-nav button.owl-next::before {top: -42px;}
.b3-1-txt3 p {margin-top: 5px; margin-bottom: 5px; font-size: 14px;}
.standart-h1::before {top: 6px; height: 22px;} .pro-img img {max-width: 70px; max-height: 70px;} .b4-f1 {font-size: 20px; width: 140px;}
.box-b2 p:nth-child(1)::after {bottom: -93px;} .b7-txt p {font-size: 20px;}
.b7-txt p:nth-child(1)::after {bottom: -87px;} .wrap-b8 .box-b2 p:nth-child(1)::after {bottom: -68px;} .road .square:nth-child(2n+1) {padding-left: 20px;}
.road .square {width: 294px;} .pro-img {margin: 0;} .road {max-width: 627px;}
.exchanger p {font-size: 14px;} .wrap-n-img {width: 400px;} .capsule-txt p {font-size: 16px;}
.capsule-txt p:first-child {margin-top: 43px;} .capsule-txt p:nth-child(2) {margin-top: 40px;}
.capsule-txt p:nth-child(5) {margin-top: 50px;} .capsule-txt p:nth-child(6) {margin-top: 20px;}
.capsule-txt p:first-child::after, .capsule-txt p:nth-child(3)::after {width: 250px;}
.capsule-txt i:nth-child(7)::before {width: 44px; right: 257px; top: 85px;}
.capsule-txt i:nth-child(7)::after {width: 43px; height: 43px;} .capsule-txt i:nth-child(7)::after {right: 275px; top: 84px;}
.capsule-txt p:nth-child(2)::after, .capsule-txt p:nth-child(4)::after {width: 170px;} 
.capsule-txt i:nth-child(8)::before {right: 176px; width: 46px; top: 159px;} .capsule-txt i:nth-child(8)::after {width: 43px; height: 43px; right: 197px; top: 158px;}
.capsule-txt p:nth-child(3) {margin-top: 24px;} .capsule-txt i:nth-child(9)::before {width: 35px; top: 211px; right: 260px;}
.capsule-txt i:nth-child(9)::after {width: 43px; height: 43px; right: 274px; top: 204px;}
.capsule-txt p:nth-child(4) {margin-top: 0;} .capsule-txt i:nth-child(10)::before {width: 24px; right: 180px; top: 243px;}
.capsule-txt i:nth-child(10)::after {width: 43px; height: 43px; right: 184px; top: 234px;}
.capsule-txt p:nth-child(5)::after {width: 188px;} .capsule-txt i:nth-child(11)::before {width: 26px; right: 197px; top: 328px;}
.capsule-txt i:nth-child(11)::after {width: 43px; height: 43px; top: 321px; right: 201px;}
.capsule-txt p:nth-child(6)::after {width: 190px;} .capsule-txt i:nth-child(12)::before {right: 198px; top: 409px; width: 35px;}
.capsule-txt i:nth-child(12)::after {top: 403px; right: 207px; width: 48px; height: 48px;}
.b7-txt span::before {height: 30px;}
.standart-h1 {font-size: 30px;}
.xl-open {display: block;}


.wrap-b1-1 h1 {font-size: 38px;} .box-b1 p {padding: 0 0 0 10px;} .first-form {position: relative;}
.first-form::before {content: ''; position: absolute; width: 8px; height: 8px; border-top: 2px solid #199ae0; border-right: 2px solid #199ae0; right: -5px; top: -6px;}
.first-form::after {content: ''; position: absolute; width: 8px; height: 8px; border-bottom: 2px solid #199ae0; border-right: 2px solid #199ae0; right: -5px; bottom: 32px;}
.first-form i::before {content: ''; position: absolute; width: 8px; height: 8px; border-top: 2px solid #199ae0; border-left: 2px solid #199ae0; left: -5px; top: -6px;}
.first-form i::after {content: ''; position: absolute; width: 8px; height: 8px; border-bottom: 2px solid #199ae0; border-left: 2px solid #199ae0; left: -5px; bottom: 32px;}
.box-b1 p:nth-child(1)::after {right: -5px;bottom: -5px;} .box-b1 p:nth-child(2)::before {top: -58px; left: -11px;} .box-b1 p:nth-child(2)::after {left: -11px; bottom: -5px;}
.lab_sign {margin-top: 5px;} .main-b1-ul ul {justify-content: space-between;} .box-b1 p:nth-child(1)::before {right: -5px;}
.d-none-xl {display: none;}
.d-open-xl {display: block;}
.block-xl-m1 h1 {
  font-size: 38px;
  font-family: 'dinPro-Regular';
  text-align: left;
  color: #f0f0f0;
}
.wrap-b1-3 {margin-top: 0;}
.wb3-txt p:nth-child(1) {font-size: 16px;}
.wb3-txt p:nth-child(2) {font-size: 18px;}
.wb3-img {width: 32%;}
.tab-box ul {justify-content: flex-end;}
.block-xl-p {height: 15px; font-size: 12px;  text-align: center; color: #199ae0; margin-bottom: 10px; }
.b3-1-f1 {font-size: 16px;} .b3-1-f2, .b3-1-f3 {font-size: 14px;} .b3-1-txt p {margin-right: 0; }
.wrap-txt-f1 p:nth-child(1), .wrap-txt-f1 p:nth-child(2), .wrap-txt-f1 p:nth-child(3) {padding: 0; margin: 0 3px; font-size: 16px; width: 60px; line-height: 1.6;}
.wrap-txt-f1 {margin-top: 5px;} .w-ex .square p {font-size: 14px;}
.b3-1-txt3 p:nth-child(2), .b3-1-txt3 p:nth-child(3) {margin-left: 5px;}
.wrap-b4 h1 {font-size: 30px;}
.wrap-progress {display: none;}
.wrap-progress.xl-open {display: flex; flex-direction: column;}
.fx-cnt-between {display: flex; justify-content: space-between;}
.cheaper {font-size: 50px; margin: 0; left: 316px; top: 50px;}
.pro-img.cent img{position: absolute; left: 0; right: 0; margin: auto;}
.cheaper span {font-size: 20px;}
.graphic {position: absolute; left: 0; right: 0; bottom: 0; margin: auto;} .wrap-graphic {padding-bottom: 320px; }
.gr-txt span {font-size: 24px;}  .gr-txt p, .gr-txt-2 p:nth-child(2) {font-size: 60px;}
.wrap-b6-1 img {display: none;}
.wrap-b6-1 {width: 100%; justify-content: center; margin-top: 55px;}
.b7-txt span {font-size: 20px;} .energy-txt h2 {font-size: 20px;} .energy-txt p {font-size: 16px;}
.wrap-square {justify-content: flex-start; flex-direction: column;}
.square-img-txt img {width: 68px; height: 68px;} .square-txt p:nth-child(1), .square-txt p:nth-child(2) {font-size: 20px;} 
.square-txt-2 {font-size: 16px; text-align: left;} .square.height-210 {width: 40%; height: auto;} .square{width: auto;} .square-txt p:nth-child(1)::before {width: 100%;}
.square.height-290 {width: 60%; height: auto;} .square-txt p:nth-child(1)::after {height: 14px; top: 86px;} .reserve {margin: 0; margin-top: 10px;}
.square.height-340 {width: 80%; height: auto; max-width: none;} 
.square-txt-3 {text-align: left;} .square-txt-3 p:first-child {font-size: 47px;} .square-txt-3 p:last-child {line-height: 0.5;}
.b12-team-txt {display: flex; flex-direction: column;} .b12-team-txt h4 {font-size: 16px;} .team_txt h2 {font-size: 16px;} .team_txt {margin-right: 0;}
.road .square h2 {font-size: 20px;} .road .square p {font-size: 16px;} .road .square {width: 270px;}
.road #r-map-line::before {width: 70px; right: -48px;} .rmap-left::before, .rmap-left-cr::before {left: -45px; width: 58px;} .rmap-right::before, .rmap-right-cr::before {right: -45px; width: 58px;}
.rmap-right-cr-last::before {width: 60px; right: -45px;} .road::before {height: 1699px; } .network img {width: 27px; height: 27px;}
.foot-logo {width: 169px;} .d-flex {align-items: center;}
.power-station img {width: 100%; max-width: none;} .wrap-b6-1 h1 {font-size: 48px;} .b6-down-line p {font-size: 18px;}
.network a {margin-left: 20px;}